[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-bcrypt = "*"
flask-cors = "*"
marshmallow = "*"
faker = "*"
flask-jwt-extended = "*"
python-dotenv = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.13"
